<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <title>{{pagetitle}}</title>
</head>

<body>
    <header>
        {% if owner !="" %}
        <nav>
            <a href='/'>All Posts</a>
            <a href='newpost'>New Post</a>
            <a href='drafts'>Drafts</a>
            <a href='logout'>Log Out</a>
            <div class="dropdown">
                <button class="dropbutton">Users</button>
                <div class="dropdown-content">
                    {% for user in users %}
                        <a href='/user?id={{user.id}}'>{{ user.username }}</a>
                    {% endfor %}
                </div>
            </div>
            <a class="user" href="/user?id={{owner.id}}">{{owner.username}}</a>
        </nav>
        {% else %}
        <nav>
            <a href='/'>All Posts</a>
            <a href='newpost'>New Post</a>
            <a href='login'>Log In</a>
            <div class="dropdown">
                <button class="dropbutton">Users</button>
                <div class="dropdown-content">
                    {% for user in users %}
                        <a href='/user?id={{user.id}}'>{{ user.username }}</a>
                    {% endfor %}
                </div>
            </div>
        </nav>
        {% endif %}
    </header>
    
    <main>
        <div class="messagebar">
        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category,message in messages %}
                <li class='{{category}}'>{{message}}</li>
            {% endfor %}
            </ul>
        {% endwith %}
        </div>    
        
        {% block content %}
        {% endblock %}
    </main>

</body>

</html>