{% extends "base.html" %}

{% block content %}
    <h2>{{ owner.username }} says...</h2>
    {% if blogs|length == 0 %}
        <p>This blog has no posts yet</p>
        {% else %}
        <ul>
            {% for blog in blogs %}
                <a href="/blog"><h3>{{blog.title}}</h3></a>
                <article>
                <p class="postbody">{{blog.body}}
                    <form class="delete" method='POST' action='/deletepost'>
                        <input type="hidden" name="blog-id" value="{{blog.id}}" />
                        <input type="submit" value="Trash it" />
                    </form>
                </p>
                </article>
            {% endfor %}
        </ul>
    {% endif %}
    
{% endblock %}