{% extends "base.html" %}

{% block content %}
    <article><a name="top"></a>
        <h1>{{ user.username }}'s Blog</h1>
        {% if posts|length == 0 %}
            <p class="postbody">{{ user.username }} has no posts yet.</p>
        {% else %}
            {% for post in posts %}
                <a href="/post?id={{post.id}}"><h2>{{post.title}}</h2></a> 
                <div class="postbody">
                    <p class="postinfo">posted by <a href='/user?id={{post.owner.id}}' class="postowner">{{post.owner.username}}</a></p>
                    <p class="postinfo">{{post.date}}</p>
                    <p>{{post.body}}</p>
                    {% if owner == post.owner %}
                        <form class="button" method='POST' action='/deletepost'>
                            <input type="hidden" name="id" value="{{post.id}}" />
                            <input type="submit" value="Trash it" />
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </article>

{% endblock %}