{% extends "base.html" %}

{% block content %}
    <h2>{{post.title}}</h2>
    <article>
        <p class="postbody">{{post.body}}</p>
        {% if post.published == True %}
            <p class="date">{{post.date}}</p>
        {% endif %}
        <form class="delete" method='POST' action='/deletepost'>
            <input type="hidden" name="id" value="{{post.id}}" />
            <input type="submit" value="Trash it" />
            {% if post.published == False %}
                <input id="publish" type="submit" value="Publish" formaction="/publishdraft" />
            {% endif %}
        </form>        
    </article>
{% endblock %}