{% extends "base.html" %}

{% block content %}
<article>
    <h1>Saved Drafts</h1>
    {% if posts|length == 0 %}
        <p>There are no drafts saved</p>
    {% else %}
        {% for post in posts %}
            <div class="postbody">
                <a href="/blog?id={{post.id}}"><h2>{{post.title}}</h2></a>
                <p class="postbody">{{post.body}}</p>
                <form class="button" method='POST' action="">
                    <input type="hidden" name="id" value="{{post.id}}" />
                    <input type="submit" value="Trash it" formaction="/deletedraft" />
                    <input id="publish" type="submit" value="Publish" formaction="/publishdraft" />
                </form>
            </div>
        {% endfor %}
    {% endif %}
</article>
{% endblock %}