{% extends "base.html" %}

{% block content %}
    
<h2>NEW POST</h2>
<form method="POST">
    <ul>
        <li>
            <textarea id="title-form" type='text' name="post-title" >{{title}}</textarea>
        </li>
        <li>
            <textarea id="body-form" type='text' name="post-body" >{{body}}</textarea>
        </li>
        <li>
            <input type="submit" value="Save As Draft" formaction="draft" />
            <input id="publish" type="submit" value="Publish" formaction="publish" />
        </li>
    </ul>    
</form>

{% endblock %}