body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    width: 70%;
}
header {
    background-color: cadetblue;
    padding: 1rem;
    margin-bottom: 1rem;
}
.error {
    color: red;
}
.confirm {
    color: blue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header ul li {
    display: inline-block;
    margin-left: 2rem;
}
form {
    padding: .5rem;
    margin: 0 auto;
}
.postbody {
    background-color: beige;
    padding: 1rem;
    width: 70%;
}
.delete {
    display: inline-block;
}
textarea {
        margin: 1rem 0;
        width: 70%;
    }