body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: rgb(50,50,50);
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
a {
    color: orange;
    text-decoration: none;
}
a :hover {
    color: lightsalmon;
}


/* <<<<<<<<<<<<<<<<<< HEADER STYLES >>>>>>>>>>>>>>>>> */
header {
    position: sticky;
    top: 0;
    background-color: rgb(50,50,50);
    padding: 1rem;
    margin: 0;
    border-radius: 0;
    text-align: center;
}
nav {
    overflow: hidden;
    background-color: rgb(50,50,50);
    color: white;
}
nav a {
    float: left;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: .5rem 1rem;
    margin: 0;
    text-decoration: none;
}
.user {
    float: right;
    color: orange;
}
.user:hover {
    color: white;
}
.dropdown {
    float: left;
    overflow: hidden;

}
.dropdown .dropbutton {
    float: left;
    overflow: hidden;
    background-color: inherit;
    padding: .5rem 1rem;
    margin: 0;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}
nav a:hover, .dropdown:hover .dropbutton {
    background-color: orange;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 8rem;
    z-index: 1;
    background-color: orange;
}
.dropdown-content a {
    float: none;
    display: block;
    padding: .5rem 1rem;
    color: white;
    text-align: left;
    text-decoration: none;
}
.dropdown-content a:hover {
    background-color: orange;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.messagebar {
    height: 2rem;
    max-width: 100%;
    padding: .5rem;
    margin: 0 0 .5rem 0;
    text-align: center;
    vertical-align: middle;
}
.error {
    color: orangered;
}
.confirm {
    color: slateblue;
}


/* <<<<<<<<<<<<<<<<<< ARTICLE STYLES >>>>>>>>>>>>>>>>> */
article {
    display: block;
    max-width: 70%;
    min-width: 20rem;
    margin-left: 10%;
}
h1 {
    font-size: 4rem;
    font-weight: 900;
    padding: .5rem;
    margin: 0;
}
h2 {
    display: block;
    font-size: 2rem;
    padding: .5rem 1rem;
    margin: 0;
}
article h2 {
    background-color: gray;
}
h3 {
    font-size: 1rem;
    padding: .5rem;
    margin: 0;
}
a {
    color: orange;
    text-decoration: none;
}
p {
    margin-left: .5rem;
}


/* <<<<<<<<<<<<<<<<<< POST STYLES >>>>>>>>>>>>>>>>> */
.postbody {
    background-color: whitesmoke;
    border-radius: 0;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    padding: 1rem 2rem;
    margin: 0 0 2rem 1rem;
}

.postinfo, .postowner {
    display: inline;
    color: gray;
    font-size: .7rem;
    padding: 0 .5rem;
    margin: 0;
}
.postowner {
    color: orange;
    font-weight: bold;
}


/* <<<<<<<<<<<<<<<<<< FORM STYLES >>>>>>>>>>>>>>>>> */
form {
    background-color: whitesmoke;
    border-radius: 0;
    align-content: center;
    padding: .5rem 1rem;
    margin: 0;
}
.button {
    float: right;
    margin: -2rem -1rem 0 0;
}
input[type=submit] {
    background-color: whitesmoke;
    border: none;
    color: orangered;
    text-align: center;
    font-weight: 600;
    font-size: .8rem;
    padding: .5rem;
}
#publish {
    color: green;
}
form li {
    padding: .5rem 1rem;
}
textarea {
    resize: none;
    margin: 1rem 0;
}
#title-form {
    height: 1.2rem;
    width: 90%;
}
#body-form {
    height: 11rem;
    width: 90%;
}


/* <<<<<<<<<<<<<<<<<< FOOTER STYLES >>>>>>>>>>>>>>>>> */
footer {
    background-color: rgb(50,50,50);
    position: relative;
    bottom: 0;
    padding: 1rem;
    margin: 4rem 0 0 0;
    border-radius: 0;
    text-align: center;
}